*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

html {
    font-family: 'Jost', sans-serif;
}
body {
    background: black;
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 100vh;
    text-align: center;
}
header h1{
    margin: 170px auto 120px;
    color: snow;
    font-size: 2.9rem;
    line-height: 1.2;
    width: 720px;
    
}
header p{
    margin: 100px auto 290px;
    color: snow;
    font-size: 1.6rem;
    line-height: 1.2;
    width: 500px;
}
header span{
    margin: 100px auto 0;
    color: snow;
    font-size: 1.1rem;
    width: 400px;
}
.cursor {
  box-sizing: content-box;
  z-index: 1000;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 33% 67% 35% 65% / 32% 68% 27% 73%;
  border: 2px solid snow;
  animation: borderAnimate 4s ease-in-out infinite alternate;
  pointer-events: none;
  transition: transform 0.4s ease-in-out;
}
.hovered {
  background-size: cover;
  transform: scale(3);
}
@keyframes borderAnimate {
    0% {
      border-radius: 32% 68% 27% 73% / 66% 59% 41% 34%;
    }
    25% {
        border-radius: 46% 54% 27% 73% / 63% 65% 35% 37% ;
    }
    50% {
        border-radius: 74% 26% 39% 61% / 63% 53% 47% 37% ;
    }
    75% {
        border-radius: 52% 48% 81% 19% / 51% 75% 25% 49% ;
    }
    100% {
      border-radius: 59% 41% 37% 63% / 44% 33% 67% 56%;
    }
}

.box-timeline {
    width: 100%;
    height: 6900px;
    background: snow;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

.ligne {
    height: 6446px;
    width: 8px;
    margin: 0 auto;
    background: red;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r0 {
    top:20px;
}
.r1 {
    top: 326px;
}
.r2 {
    top: 632px;
}
.r3 {
    top: 938px;
}
.r4 {
    top: 1244px;
}
.r5 {
    top: 1550px;
}
.r6 {
    top: 1856px;
}
.r7 {
    top: 2162px;
}
.r8 {
    top: 2468px;
}
.r9 {
    top: 2774px;
}
.r10 {
    top: 3080px;
}
.r11 {
    top: 3386px;
}
.r12 {
    top: 3692px;
}
.r13 {
    top: 3998px;
}
.r14 {
    top: 4304px;
}
.r15 {
    top: 4610px;
}
.r16 {
    top: 4916px;
}
.r17 {
    top: 5222px;
}
.r18 {
    top: 5528px
}
.r19 {
    top: 5834px;
}
.r20 {
    top: 6140px;
}
.r21 {
    top: 6446px;
}

.box {
    color: snow;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: rgba(59, 59, 59, 0.6);
    border: 3px solid red;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
    transition: all .2s ease-in-out;
    line-height: 1.5;
}
.right:hover{
    transform: scale(1.1)!important;
    z-index: 1;
    background: rgb(59, 59, 59);
}
.left:hover{
    transform: translate(-100%) scale(1.1)!important;
    z-index: 1;
    background: rgb(59, 59, 59);
}
.b0 {
    top:20px;
    left: calc(50% - 270px);
}
.b1 {
    top: 326px;
    left: calc(50% + 270px);
}  
.b2 {
    top: 632px;
    left: calc(50% - 270px);
}
.b3 {
    top: 938px;
    left: calc(50% + 270px);
}
.b4 {
    top: 1244px;
    left: calc(50% - 270px);
}
.b5 {
    top: 1550px;
    left: calc(50% + 270px);
}
.b6 {
    top: 1856px;
    left: calc(50% - 270px);
}
.b7 {
    top: 2162px;
    left: calc(50% + 270px);
}
.b8 {
    top: 2468px;
    left: calc(50% - 270px);
}
.b9 {
    top: 2774px;
    left: calc(50% + 270px);
}
.b10 {
    top: 3080px;
    left: calc(50% - 270px);
}
.b11 {
    top: 3386px;
    left: calc(50% + 270px);
}
.b12 {
    top: 3692px;
    left: calc(50% - 270px);
}
.b13 {
    top: 3998px;
    left: calc(50% + 270px);
}
.b14 {
    top: 4304px;
    left: calc(50% - 270px);
}
.b15 {
    top: 4610px;
    left: calc(50% + 270px);
}
.b16 {
    top: 4916px;
    left: calc(50% - 270px);
}
.b17 {
    top: 5222px;
    left: calc(50% + 270px);
}
.b18 {
    top: 5528px;
    left: calc(50% - 270px);
}
.b19 {
    top: 5834px;
    left: calc(50% + 270px);
}
.b20 {
    top: 6140px;
    left: calc(50% - 270px);
}
.b21 {
    top: 6446px;
    left: calc(50% + 270px);
    opacity: 1;
}

.box h2 {
    line-height: 20px;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0 10px ;
    color: snow;
}
.box p {
    line-height: 20px;
    font-size: 1.3rem;
    margin: 10px 0 20px 0;
    padding: 20px 0 30px;
    color: snow;
    text-align: center;
}
.btn {
    display: block;
    background: red;
    padding: 10px;
    width: 140px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}
.btn:hover {
    background-color: snow;
    color: red;
}




@media screen and (max-width: 900px) {
    .ligne {
        position: relative;
        left: 100px;
    }
    .rond {
        left: calc(50% + 100px);
    }
    .box {
        left: calc(50% - 50px)
    }
}
@media (min-width: 320px) and (max-width:475px){
    header h1 {
        font-size: 1.6rem!important;
        width:300px;
        margin: 80px auto;
        padding: 0;
    }
    header p{
        margin: 100px auto 90px;
        font-size: 1.2rem;
        width: 300px;
    }
    header span{
        margin: 100px auto 0;
        color: snow;
        font-size: 1.1rem;
        width: 400px;
    }
    .cursor {
        width: 30px;
        height: 30px;
        position: absolute;
    }
    .hovered {
        background-size: cover;
        transform: scale(1.5);
    }
    .box-timeline {
        width: 100%;
        height: 6846px;
        background: snow;
        position: relative;
        padding: 80px 0 50px 0;
        margin-bottom: 100px;
    }
    .box {
        width: 200px!important;
        left: 35%!important;
        height: 280px!important;
    }
    .box h2 {
        font-size: 1rem!important;
    } 
    .box p {
        font-size: 1rem!important;
        margin: 5px 0 10px 0!important;
        padding: 5px 0 5px!important;
    }
    .btn {
        padding: 5px!important;
        width: 120px!important;
        font-size: 1rem!important;
        margin-top: 2px!important;
    }
    .b0 {
        top:20px;
        left: calc(50% - 50px)!important;
    }
    .right:hover, .left:hover {
        transform: translate(0) scale(1.1)!important;
    }
}
@media (min-width: 475px) and (max-width:768px){
    header h1 {
        font-size: 2rem;
        width:450px;
        margin: 80px auto;
        padding: 0;
    }
    header p{
        margin: 100px auto 90px;
        font-size: 1.4rem;
        width: 450px;
    }
    header span{
        margin: 100px auto 0;
        color: snow;
        font-size: 1.1rem;
        width: 400px;
    }
    .cursor {
        width: 50px;
        height: 50px;
        position: absolute;
    }
    .hovered {
        background-size: cover;
        transform: scale(1.8);
    }
    .box {
        width: 250px!important;
        left: 35%!important;
        height: 300px!important;
    }
    .box h2 {
        font-size: 1.2rem!important;
        margin: 5px 0 10px 0!important;
    } 
    .box p {
        font-size: 1.1rem!important;
        margin: 5px 0 50px 0!important;
        padding: 5px 0 5px!important;
    }
    .btn {
        padding: 5px!important;
        width: 130px!important;
        font-size: 1.1rem!important;
        margin-top: 2px!important;
    }
    .right:hover, .left:hover {
        transform: translate(0) scale(1.1)!important;
    }
}
@media (min-width: 768px) and (max-width:900px){
    header h1 {
        font-size: 2rem;
        width:450px;
        margin: 80px auto;
        padding: 0;
    }
    header p{
        margin: 100px auto 90px;
        font-size: 1.4rem;
        width: 450px;
    }
    header span{
        margin: 100px auto 0;
        color: snow;
        font-size: 1.1rem;
        width: 400px;
    }
    .cursor {
        width: 50px;
        height: 50px;
        position: absolute;
    }
    .hovered {
        background-size: cover;
        transform: scale(1.8);
    }
    .box {
        width: 290px!important;
        left: 35%!important;
        height: 300px!important;
    }
    .box h2 {
        font-size: 1.4rem!important;
        margin: 5px 0 10px 0!important;
    } 
    .box p {
        font-size: 1.2rem!important;
        margin: 5px 0 50px 0!important;
        padding: 5px 0 5px!important;
    }
    .btn {
        padding: 5px!important;
        width: 130px!important;
        font-size: 1.1rem!important;
        margin-top: 2px!important;
    }
    .right:hover, .left:hover {
        transform: translate(0) scale(1.1)!important;
    }
}
@media (min-width:900px) and (max-width:1024px) {
    .box {
        width: 300px!important;
    }
    .box h2 {
        font-size: 1.5rem!important;
    } 
    .box p {
        font-size: 1.2rem!important;
    }
    .btn {
        font-size: 1.1rem!important;
    }
}